<header class="header">
  <nav class="menu">
    <ul>

      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['selected']">Sobre mi</a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['selected']">Mis proyectos</a></li>
      <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['selected']">Crear proyecto</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['selected']">Contacto</a></li>
    </ul>

    <div class="boton-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

  </nav>
  <section class="textos-header">
    <h1>Mario David Garcia Chinchilla</h1>
    <h2>Lorem ipsum dolor sit amet consec</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: rgb(255, 255, 255);"></path>
    </svg></div>


</header>

<main>
  <section class="contenedor" id="servicio">

    <router-outlet></router-outlet>

    <button class="boton-menu">PRESS</button>
  </section>
</main>

<footer>
  <div class="contenedor-footer">
      <div class="content-foo">
          <h4>Telefono</h4>
          <p>+502 3512-5986</p>
      </div>
      <div class="content-foo">
          <h4>Email</h4>
          <p>dagarcia100@gmail.com</p>
      </div>
      <div class="content-foo">
          <h4>Direccion</h4>
          <p>Guatemala,Guatemala</p>
      </div>
  </div>
  <h2 class="titulo-final">&copy; David Garcia</h2>
</footer>