<section class="container about">
    <h2 class="title">Sobre mi</h2>
    <div class="container-about">
        <img src="../../../assets/img/about-img.png" class="image-about">
        <div class="content-text">
            <h3><span>1</span>Educacion</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam a, laborum error maiores nulla eius nisi exercitationem consequuntur eveniet, dolores illum optio facere unde? Ex inventore quas corrupti soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore ab tempora, provident, animi placeat quasi harum obcaecati eius voluptatem esse nesciunt quos necessitatibus veniam, optio nostrum tempore quae labore.</p>
            <h3><span>2</span>Experiencia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam a, laborum error maiores nulla eius nisi exercitationem consequuntur eveniet, dolores illum optio facere unde? Ex inventore quas corrupti soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore ab tempora, provident, animi placeat quasi harum obcaecati eius voluptatem esse nesciunt quos necessitatibus veniam, optio nostrum tempore quae labore.</p>
            <h3><span>3</span>Cursos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam a, laborum error maiores nulla eius nisi exercitationem consequuntur eveniet, dolores illum optio facere unde? Ex inventore quas corrupti soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore ab tempora, provident, animi placeat quasi harum obcaecati eius voluptatem esse nesciunt quos necessitatibus veniam, optio nostrum tempore quae labore.</p>
        </div>
    </div>
</section>