<section class="portafolio">
  <div class="container">
    <h2 class="title">Portafolio</h2>
    <div class="galeria-port">
      <div class="imagen-port" *ngFor="let project of projects">
        <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image">
        <a [routerLink]="['/proyecto',project._id]">
          <div class="hover-galeria">
            <img src="../../../assets/img/icono1.png" alt="">
            <p>{{project.name}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
