body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #1f87c4;
}

#global{
    background: white;
}

.menu ul li:hover{
    background: #1f87c4;
}

.button-more{
    background:#1f87c4;
}

@media only screen and (max-width: 768px) {
    .menu ul {
        background-color: #1f87c4;
    }

}