body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #ca3413;
}

#global{
    background: white;
}

.menu ul li:hover{
    background: #ca3413;
}

.button-more{
    background:#ca3413;
}

@media only screen and (max-width: 768px) {
    .menu ul {
        background-color: #ca3413;
    }

}