
*{
    margin:0px;
    padding:0px;
    list-style: none;
}

.clearfix{
    float:none;
    clear:both;
}

body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#global{
    width:80%;
    margin: 0px auto;
    margin-top:30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px gray;
    border-radius:10px;
}

#logo{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    background: #235E3D;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.boton-menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.menu {
    font-family: Helvetica, sans-serif;
    background: #333;
    width:100%;
    margin-bottom: 20px;
}




.menu ul{
    line-height: 46px;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li {
    height:46px;
    display: inline-block;
    transition: all 300ms;
}

.menu ul li:hover{
    background: #235E3D;
}

.menu ul li a{
    display:block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right:30px;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    #global{
        width:90%;
    }
    .menu {
        font-family: Helvetica, sans-serif;
        background: transparent;
    }
    .menu ul {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #235E3D;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    #logo{
        font-size: 15px;
        width: 200px;
        height: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .menu{
        margin-bottom: 50px;
    }

    .menu ul li a{
        color: white;
        padding-left: 50px;
        padding-right:50px;
    }


    .menu ul.active {
        left: 0;
    }

    .menu ul li {
        margin: 2.5rem 0;
    }

    .boton-menu {
        float: right;
        display: block;
        cursor: pointer;
    }

    .boton-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .boton-menu.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .boton-menu.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}